$base: #3b7ae5;
$font-color: #fff;

.contract-form {
  &__wrapper {
    // background-color: $base;
    // color: $font-color !important;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100vh;
    max-width: 450px;
  }

  &__currency {
    text-align: left;
  }
}