.multiselect {
  margin-top: 16px;
  width: calc(100% - 8px);

  > div {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;

    > div {
      font-size: 16px;
      padding: 0 0;

      span {
        display: none;
      }
    }
  }
}